/* common.css
 *
 * Copyright (C) 2017 Universidad de Sevilla
 * 
 * The use of this project is hereby constrained to the conditions of the 
 * TDG Licence, a copy of which you may download from 
 * http://www.tdg-seville.info/License.html
 * 
 */

.error {
	color: red;
	font-weight: bolder;
}

.message {
	color: red;
	font-weight: bolder;
}

.footer {
	background-color: #E4E4E4;
	padding: 3px;
	bottom: 0px;
	position: static;
}

.songalert {
	padding: 6px;
	width: 30%;
	font-weight: bold;
	text-align: center;
	color: white;
}

.tablasforms {
	border: 0px;
}
